body {
    background: azure;
}

.Input {
    outline: none;
    border: 1px solid #6f76c2;
    background-color: #b8d6e0;
    font: inherit;
    padding: 6px 30px;
    margin: 25px auto;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: Yrsa;
    font-size: 20px;
    color: #453e94;
    max-width: 40%;
    text-align: center;
}

.Input:focus {
    outline: none;
    background-color: #b9f1e6;
    color: #0d00ff;
    font-family: Sawasdee;
}

@media (min-width: 600px) {
    .ContactData {
        width: 500px;
    }
}